# GEMINI_API_KEY: Required for Gemini AI API calls.
# AI Studio automatically injects this at runtime from user secrets.
# Users configure this via the Secrets panel in the AI Studio UI.
GEMINI_API_KEY="MY_GEMINI_API_KEY"

# ZegoCloud Configuration
ZEGO_APP_ID=1698335343
ZEGO_SERVER_SECRET=d1647c6b9802ed758e1bf148914b80758d5b35061f3e8f76261c6187d55ab9fe

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dxiolmmdv
CLOUDINARY_API_KEY=842696479721211
CLOUDINARY_API_SECRET=oWiNS3JZJio5VmsVD6w4tiD1qzM
CLOUDINARY_URL=cloudinary://842696479721211:oWiNS3JZJio5VmsVD6w4tiD1qzM@dxiolmmdv
VITE_CLOUDINARY_CLOUD_NAME=dxiolmmdv
VITE_CLOUDINARY_UPLOAD_PRESET=oc_chat_preset

# webtoapp.design Configuration
WEBTOAPP_API_KEY=tFT_Zi9r8SEvbduQ3jRhMhRN73-raDOy2r-522NuXSc
WEBTOAPP_API_URL=https://webtoapp.design/api/push_notifications?key=tFT_Zi9r8SEvbduQ3jRhMhRN73-raDOy2r-522NuXSc

# Infobip Configuration
INFOBIP_API_KEY=701772971eb6b9d02482ba463bcfee11-01637336-f610-4a65-9947-ee8ae793983b
INFOBIP_BASE_URL=https://9jjgy3.api.infobip.com

# OneSignal Configuration
ONESIGNAL_APP_ID=77b000e4-b044-4010-ac1e-9e73704baefa
ONESIGNAL_REST_API_KEY=os_v2_app_o6yabzfqirabbla6tzzxas5o7lkbg7cpl4nuwuu6ij5dbqylscpeadgwgdffmwiy7czmkmevbqsc3kfufcwkfrdflvudpe3j2g7xzpq
VITE_ONESIGNAL_APP_ID=77b000e4-b044-4010-ac1e-9e73704baefa

# EmailJS Configuration
# Support
EMAILJS_PUBLIC_KEY_SUPPORT="VmaJ2hrnGEYVlmGQn"
EMAILJS_PRIVATE_KEY_SUPPORT="bjpvLwOOu2iIs1jz_lbvz"
EMAILJS_SERVICE_ID_SUPPORT="service_h3y4bu3"

# Auth
EMAILJS_PUBLIC_KEY_AUTH="dGeS-888dsuY81CaC"
EMAILJS_PRIVATE_KEY_AUTH="U2j9q3IHg_Cus_22W05rX"
EMAILJS_SERVICE_ID_AUTH="service_7joia8l"

# Teams
EMAILJS_PUBLIC_KEY_TEAMS="0Wn4VU_rBy5ve6v9U"
EMAILJS_PRIVATE_KEY_TEAMS="Q4eU6TgsxIu339hQxSioI"
EMAILJS_SERVICE_ID_TEAMS="service_82x51hh"

# Info
EMAILJS_PUBLIC_KEY_INFO="CASwBIPvE2-h_FQD0"
EMAILJS_PRIVATE_KEY_INFO="sIjlKyzhH9OjGLM-A8v3U"
EMAILJS_SERVICE_ID_INFO="service_d6gl2h8"
